GEMINI_API_KEY=AQ.Abxxxxxxxxxxxxxxxxxxxx

TELEGRAM_BOT_TOKEN=8960xxxxx:AAF2nk3GmTLIxxxxxxxxxxxxxxx

TELEGRAM_CHAT_ID=11796xxxxx

EMAIL_ADDRESS=testxxxxxx@gmxxx.com

EMAIL_APP_PASSWORD=jxxx xxxx xxxx xxxx